@charset "GB2312";
/* CSS Document */
* { margin:0; padding:0; list-style:none;}
body { background-color: #FAFAFA; color:#464646;}


.msg-box {width:380px;margin:0 auto;background:#fff;border:1px solid #999;overflow:hidden;}
.msg-box .hd {width:380px;height:28px;background:#EFEFEF;float:left;}
	.msg-box .hd h3 {font-size:14px;line-height:28px;padding:0 10px;float:left;display:block;}
	.msg-box .hd span a {float:right;display:block;width:17px;height:17px;line-height:100px;overflow:hidden;background:url(../images/btn.gif) -62px -308px no-repeat;margin:5px 5px 0 0;}
	.msg-box .hd span a:hover {background:url(../images/btn.gif) -79px -308px no-repeat;}
.msg-box .bd {width:380px;float:left;padding:8px 10px 0;}
	.msg-box .bd ul {width:360px;float:left;padding:0 0 8px;}
	.msg-box .bd li {font-size:12px;font-family:"ו";margin-top: 0px; width:360px;padding:3px 0;margin:0;float:left;line-height:18px;}
	.msg-box .bd li.message {color:red;text-indent:1em;}
		.msg-box .bd li label {width:100px;text-align:right;float:left;line-height:26px;color:#4a4a4a;}
		.msg-box .bd li p {font-size:12px;color:#999;line-height:32px;padding-left:100px;}
		.msg-box .bd .btn a {height:28px;line-height:28px;font-weight:bold;text-align:center;background:url(../images/btn.gif) 0 -1073px repeat-x;cursor:pointer;border:1px solid #E1E1E1;display:block;float:right;margin:0 10px 0 0;padding:0 8px;}
		.msg-box .bd .text {width:180px;height:23px;border:1px solid #d8d8d8;line-height:23px;padding:0 6px;color:#424242;}
		.msg-box .bd span {padding-left:100px;clear:both;display:block;}

